@media only screen and (max-width:600px) {

    #menu{

        color: #fff;
        display: block;
        font-size: 22px;
        background-color: #20253d;
    }
    nav ul{
        background:#20253d ;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        padding-top: 50px;
        right: -300px;
        z-index: 2;
        transition: .5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
        background-color: #20253d;

    }
    nav ul li a{
        background-color: #20253d;
    }
    nav ul #menu{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .navbar{
        padding: 20px 8%;
    }
    .logo{
    font-size: 20px;
    
    }  
    
    .hero{
        height: 40vh;
    }
    .profilepic img{
        display: none;
    }
    .sec h1{
        margin-left: 30px;
       
    }
    .about{
        height: 110vh;
    }
    .services{
        height: 150vh;
        margin-top: 50px;
        

    }
    .recent{
        height: 150vh;
        margin-top: 50px;
    }
    .buttonbox a{
        
       margin-right: 0px;
       margin-top: 20px;
       
    }
    .contact{
        height: 80vh;
        gap: 0;
    }
    .conleft{
        width: 100%;
        padding: 30px;
    }
    .conright{
        width: 100%;
        padding: 20px;
    }
    








}