*{
    margin: 0;
    padding: 0;
    /* font-family: 'Noto Serif JP', serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Victor Mono', monospace; */
    /* background-color: #090c31; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    --s: 14px; /* control the size*/
    --c1: #000000;
    --c2: #090c31;
    
    --_g: 
      #0000 calc(-650%/13) calc(50%/13),var(--c1) 0 calc(100%/13),
      #0000 0 calc(150%/13),var(--c1) 0 calc(200%/13),
      #0000 0 calc(250%/13),var(--c1) 0 calc(300%/13);
    --_g0: repeating-linear-gradient( 45deg,var(--_g));
    --_g1: repeating-linear-gradient(-45deg,var(--_g));
    background:
      var(--_g0),var(--_g0) var(--s) var(--s),
      var(--_g1),var(--_g1) var(--s) var(--s) var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
  }

.navbar{
    padding: 30px 18%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    font-family: 'Victor Mono', monospace;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    color: #fff;
    /* font-size: 18px; */
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    border-radius: 5px;
    background:#00adb5 ;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .5s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}
#menu{
    display: none;
    /* color: #fff; */
}


.hero{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    /* border: 1px solid red; */
    
}
.text{
    /* margin-left: 20px; */
    margin-right: 20px;
}
.text h1{
    font-family: 'Victor Mono', monospace;
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    margin: 25px;
}
.text p{
    font-family: 'Noto Serif JP', serif;
    color: #fff;
    font-weight: 200;
    font-size: 22px;
    margin: 0 30px 30px 30px;
    margin-bottom: 50px;
}


.profilepic img{
    width:360px ;
}
.buttons{
    margin: 30px;
}
.projectbtn{
   /* background-color: #00adb5;  */

   
}
.hirebtn{
    color: #fff;
   text-decoration: none;
   padding: 12px;
   border-radius: 5px;
   margin-right: 20px;
   font-size: 12px;
    border: 1px solid #00adb5 ;
    transition: .5s;
}
.hirebtn:hover{
    transform: translateY(-5px);
    background-color: #00adb5;
    
    
    
}


.sec{
    
    width: 100%;
    margin-top: 50px;
    display: flex;
}
.sec h1{
    font-family: 'Noto Serif JP', serif;
    color: #fff;
    font-weight: 300;
    margin-left: 270px;
    margin-right: 50px;
}
.sec h1 span{
    font-family: 'Noto Serif JP', serif;
    color: #00adb5;
}

.about{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 10px; */
    /* width: 100%; */
    /* height: 65vh; */
}
.abticon{
    color: #00adb5;
    font-size: 30px;
    padding:20px 10px 20px 0;
}
.about .abtext{
width: 480px;

padding: 0 10px;


}
.about .abtext p{
    color: #fff;
    font-size: 16px;
    padding: 20px;
    /* margin-top: 30px; */
    font-weight: 300;
    text-align: left;
    line-height: 2; 
    margin-bottom: 10px;
    
    
    
}
.downloadbtn{
    color: #fff;
   text-decoration: none;
   padding: 12px;
   border-radius: 5px;
   margin: 20px;
   font-size: 12px;
    border: 1px solid #00adb5 ;
    transition: .5s;
}
.downloadbtn:hover{
    background-color: #00adb5; 
    transform: translateY(-5px);
    
}
.skilsec{
    width: 480px;
    /* height: auto; */
    /* border: 1px solid red; */

    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skilicon{
    width: 80px;
    height: 80px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px; 
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
}
.skilicon:hover{
    transform: translateY(-5px)
}
.skilicon img{
    width: 80%;
}






.services{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    /* border: 1px solid red; */
}
.servicescard{
    background-color: #20253d;
    height: 320px;
    width: 260px;
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
    /* margin: 20px; */
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}
.servicescard:hover{
    transform: translateY(-10px);
}
.servicescard h2{
    font-size: 25px;
    color: #fff;
    background-color: #20253d;
    padding: 5px;
    
}
.servicescard p{
    color: #fff;
    background-color: #20253d;
    padding: 5px;
    margin-bottom: 10px;
}
.servicebtn{
    padding: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #20253d;
    transition: .5s;
    font-weight: 700;
    position: relative;
}
.servicebtn::after{
    content: '';
    width: 0;
    height: 3px;
    border-radius: 5px;
    background:#00adb5 ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: .5s ease-in-out;
}
.servicebtn:hover::after{
    width: 100%;
}


.recent{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    /* border: 1px solid red; */
}

.recentcard{
    background-color: #20253d;
    height: 320px;
    width: 260px;
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
    /* margin: 20px; */
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}
.recentcard:hover{
    transform: translateY(-10px);
}
.recimg{
    width: 100%;
    border-radius: 5px;
}
.recentp{
    color: #fff;
    background-color: #20253d;
    padding: 5px;
    margin-bottom: 10px;
}
.buttonbox{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.buttonbox a{
    text-decoration: none;
    color: #fff;
    
   text-decoration: none;
   padding: 12px;
   border-radius: 5px;
   margin-right: 20px;
   font-size: 12px;
    border: 1px solid #00adb5 ;
    transition: .5s;
}
.buttonbox a:hover{
    background-color: #00adb5;
    transform: translateY(-5px);
}
.contact{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    /* border: 1px solid red; */
}
.conleft{
    width: 20%;
}
.conright{
    width: 35%
}

.iconwrap{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid red; */
    padding: 0px;
}
.icon{
    padding: 15px;
    font-size: 20px;
    color: #fff;
    transition: .5s;
}
.icon:hover{
    color: #00adb5;
    transform: translateY(-5px);
}
.nmbr{
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #20253d;
    padding: 15px;
    margin: 10px 0;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
    
}
.subbtn{
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    height: 45px;
    width: 120px;
   text-decoration: none;
   /* padding: 12px; */
   border-radius: 5px;
   font-size: 12px;
   border: 1px solid #00adb5 ;
   transition: .5s;
    cursor: pointer;
    /* display: grid; */
    /* place-content: center; */
    /* transition: o.2s; */
}
.subbtn:hover{
    background-color: #00adb5;
    transform: translateY(-5px);
}



.loder{
    pointer-events: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: btn-anim 1s ease infinite;
    margin-left: 45px;
    
}

@keyframes btn-anim {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}
.foot{
    width: 100%;
    margin:  50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot p{
    color:#232656;
}

#msg{
    color: #61b752;
    font-size: 14px;
    padding:0 0 10px 20px;
    

}
.tick{
    font-size: 20px;
}